:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  --color-scheme: 0;
  --color00: #040608;
  --color10: #0a1a2a;
  --color20: #1a2a3a;
  --color30: #2a3a4a;
  --color40: #3e4e5e;
  --color50: #586878;
  --color60: #728292;
  --color70: #8d9dad;
  --color80: #a9b9c9;
  --color90: #b4c4e4;
  --color100: #fff;
  --color-accent60: #2c7da0;
  --color-accent70: #308ab0;
  --color-accent80: #3596c0;

  --link-color: #4c9ce2;
  --link-color-hover: #386989;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: 1;
    --color00: #fff;
    --color10: #f5f5f5;
    --color20: #e0e0e0;
    --color30: #b8b8b8;
    --color40: #999;
    --color50: #7a7a7a;
    --color60: #5c5c5c;
    --color70: #3d3d3d;
    --color80: #292929;
    --color90: #141414;
    --color100: #000;

    --link-color: #386989;
    --link-color-hover: #4c9ce2;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  color: var(--color100);
  background-color: var(--color00);
}

#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  margin: 0;
  width: 100%;
}

.header {
  margin-bottom: 2rem;
}

.footer {
  margin-top: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition-duration: 250ms;
}
a:hover {
  color: var(--link-color-hover);
}

.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_wrap {
  display: flex;
  column-gap: 1rem;
  align-items: baseline;
}

button,
input,
textarea {
  background-color: unset;
  outline: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 16rem;
  padding: 2rem;
  background-color: var(--color10);
  border-radius: 1rem;
}

/* Button */
.button {
  display: block;
  min-width: 7em;
  padding: 0.4em;
  border: none;
  border-radius: 0.375rem;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.25s linear;
}
.button.primary {
  background-color: var(--color-accent70);
}
.button.secondary {
  background-color: var(--color40);
}

.button:disabled {
  background-color: var(--color20);
  color: var(--color70);
  cursor: auto;
}

.button__loader {
  display: inline-block;
  width: 1em;
  padding: 3px;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  aspect-ratio: 1;
  background-color: var(--color100);
  mask: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  mask-composite: subtract;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@media (hover: hover) {
  .button:not(:disabled):hover {
    background-color: var(--color-accent80);
  }
}

.button:not(:disabled):active {
  background-color: var(--color-accent60);
}

/* Input */
.input_container {
  position: relative;
  min-width: 12em;
  box-sizing: border-box;
  padding: 0 0.6rem;
  border: 1px solid var(--color50);
  border-radius: 0.375rem;
  background-color: var(--color00);
  color: var(--color100);
  font-size: 1rem;
  transition: background-color 0.25s linear, border-color 0.25s linear;
}

.input_container.hidden {
  display: none;
}

.input {
  padding: 1rem 0 0.6rem;
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: var(--font);
  font-size: 1rem;
  -webkit-text-fill-color: var(--color100);
}

.input_container:has(.input:read-only) {
  border-color: var(--color50);
  background-color: var(--color00);
}

.input:read-only {
  cursor: auto;
  pointer-events: none;
}

.input:valid ~ .input__valid {
  display: block;
}

.input__valid {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  display: none;
  color: green;
}

.input__label {
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  color: inherit;
  opacity: 0.7;
  pointer-events: none;
  transition: 0.3s ease all;
}

.input:focus ~ .input__label,
.input:not(:placeholder-shown) ~ .input__label {
  top: 0;
  font-size: 0.8em;
}

@media (hover: hover) {
  .input_container:hover {
    border-color: var(--color60);
    background-color: var(--color10);
  }

  .input_container:has(.input:read-only):hover {
    border-color: var(--color50);
    background-color: var(--color00);
  }
}
